.statement{
    /* background-color: rgba(184, 135, 11, 0.322); */
    background: url(../../img/bg2.jpg) no-repeat center;
    background-size: cover;
    color: rgb(255, 255, 255);
    font-family: 'Tangerine', cursive;
}
.bg2{
    background-color: rgba(0, 0, 0, 0.521);
}
h2{
    /* font-size: x-large; */
    font-weight: 300;
}
.quote2{
    /* font-size: large; */
    font-weight: 600;
}
.info{
    color: white;
    padding-right: 60px;
}

.token{
    background-color: rgba(204, 88, 21, 0.623);
    border-radius: 20px;
    font-family: 'Tangerine', cursive;
    /* animation: 5s ease-in 1s infinite reverse both running slidein; */
    
}

/* @-webkit-keyframes slidein { from { margin-left: -2%; } to { margin-left: 100%; }  }
        @keyframes slidein { from { margin-left: -2%; } to { margin-left: 100%; }  } */
